@model IEnumerable<IntegracionesApiConsumo.Models.Integracion>
<h1>Integraciones</h1>

<p>
    <a asp-action="Create">Crear Nueva Integración</a>
</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cliente</th>
            <th>Us</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var integracion in Model)
        {
            <tr>
                <td>@integracion.Id</td>
                <td>@integracion.Name</td>
                <td>@integracion.Cliente</td>
                <td>@integracion.Us</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@integracion.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@integracion.Id">Eliminar</a> |
                    <a asp-action="Details" asp-route-id="@integracion.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
